/* General Body Styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Prevent horizontal overflow */
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    background-color: #2b2c3c;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active .a {
    color: #2b2c3c;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* Jumbotron */
.jumbotron {
    background-color: #2b2c3c;
    color: #fff;
    padding: 100px 25px;
    font-family: 'Montserrat', sans-serif;
}

/* Containers */
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #656881;
}

/* Typography */
.h2, .h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px;
}

.h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: grey;
    font-weight: 400;
    margin-bottom: 30px;
}

/* Form and Buttons */
.form-control {
    border-radius: 30px;
}

.btn {
    background-color: #606270;
    border-radius: 30px;
    color: #fff;
}

/* Footer */
footer {
    background-color: #2b2c3c;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

/* Carousel */
.carousel-control.right, 
.carousel-control.left {
    background-image: none;
    color: #2b2c3c;
}

.carousel-indicators li {
    border-color: #2b2c3c;
}

.carousel-indicators li.active {
    background-color: #2b2c3c;
}

/* Panel Styles */
.panel {
    border: 1px solid #2b2c3c;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px grey;
}

.panel-footer .btn:hover {
    border-color: #2b2c3c;
    background-color: #fff !important;
    color: #2b2c3c;
}

.panel-heading {
    color: #fff !important;
    background-color: #2b2c3c !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

/* Slider Specific Styles */
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centering */
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center center; /* Corrected positioning */
}

body.menu-togged > .meta-link > span {
    color: rgb(30, 30, 30);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(225, 225, 225, 0.05);
    border: 1px solid rgba(225, 225, 225, 0.01);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}

.meta-link:hover {
    background-color: rgba(225, 225, 225, 0.01);
    border: 1px solid rgba(225, 225, 225, 0.02);
}

.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

.meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
